<ul class="nav side-menu" *ngFor ="let menu of menuData;let i=index">
  <li>
    <a  (click)="menu.active = !menu.active">
      <i [class]= "menu.icon"></i>{{menu.title}}
      <span class="fa fa-chevron-down"></span>
    </a>
    <ul
      class="nav child_menu"
      *ngIf="menu.subMenu"
      [style.display]="menu.active ? 'block':'none'">
      <ng-container>
        <li *ngFor="let subM of menu.subMenu" class="router.url === subM.url ? active : ''">
          <a routerLink="subM.url">{{subM.title}}</a>
        </li>
      </ng-container>
    </ul>
  </li>
</ul>
      
      